.player-page {
  height: calc(100vh - 80px); /* 80px = your TopBar height */
  overflow: hidden;
}

.player-content {
  width: 100%;
  max-width: 760px;
  padding: 0 16px;
}

.player-title {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 500;
}
.player-main {
  height: calc(100vh - 80px - 90px); /* 90px = your player-bar height */
  overflow-y: auto;
  padding: 8px 0;
  display: flex;
  justify-content: center;
}

.player-divider {
  height: 1px;
  background: rgba(0,0,0,0.1);
  margin-bottom: 24px;
}

.player-summary {
  line-height: 1.7;
}

.player-bar {
  position: fixed; 
  left: 0;  
  right: 0;  
  bottom: 0;
  height: 90px;
  background: #062c33;
  display: grid;
  grid-template-columns: 320px 1fr 420px; /* left | center | right */
  align-items: center; 
  padding: 0 24px;
  z-index: 1;
  
}

.player-bar__left{
  display: flex;
  align-items: center;
  gap: 14px;
  min-width: 0;
}

.player-bar__cover{
  width: 46px;
  height: 64px;
  object-fit: cover;
  border-radius: 4px;
  flex: 0 0 auto;
}

.player-bar__meta{
  min-width: 0;
  color: #fff;
}

.player-bar__bookTitle{
  font-weight: 700;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.player-bar__author{
  font-size: 13px;
  opacity: 0.8;
  margin-top: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.player-bar__center{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
}

.player-bar__right{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 14px;
  color: #fff;
}

.player-time{
  font-size: 13px;
  font-weight: 600;
  opacity: 0.9;
}

.player-slider{
  width: 100%;
  max-width: 360px;
}

.is-player .sidebar {
  position: fixed;
  height: 700px;
  z-index: -10;
}

.player-btn {
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 18px;
}

.player-btn--play {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: #ffffff;
  color: #062c33;
  font-size: 20px;
}

.player-btn__text {
  position: absolute;
  font-size: 10px;
  font-weight: 700;
  bottom: -6px;
}

.player-bar__center svg {
  pointer-events: none;
  font-size: 28px;
}

.player-btn--play svg {
  font-size: 22px;   /* slightly smaller inside circle */
}


@media (max-width: 1024px) {}
@media (max-width: 932px) {}
@media (max-width: 768px) {}
@media (max-width: 640px) {}
@media (max-width: 550px) {}
@media (max-width: 480px) {}